{% extends "base.html" %} {% block title %}about{% endblock %} {% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header text-white font-weight-bold">About Team 83</div>
            <div class="card-body">
                <p> Are you a music fanatic? Do you like learning about what music you like? Do you spend time at
                    different streaming services trying to create a playlist but keep struggling to find the perfect
                    one for you?</p>
                <p> If the answers to the questions above are yes, yes and yes then you're at the right place. On our
                    platform, you will be able to view information regarding audio features of your suggested music.
                    You can use this information to understand your music taste and guide your music search. </p>
                <p> And the best part about this website is the ease of navigating through this process. Simply choose
                    if you want to filter songs by playlist or artist. Then choose any additional filters you want
                    and see the magic happen right in front of you while we do all the heavy lifting in the background! </p>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}